.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.h1style {
    text-align: center;
    color: darkslategray;
}
.listItem {
    margin-bottom: 20px;
}
hr {
    border-color: white
}
.block {
    width: 98%;
    height: 50%;
    color: white;
    border: 100px #46515e;
    background: #46515e;
    padding: 25px;
    margin: 15px;
}

.bgColor {
  width: 100%;
  height: auto;
  top: 0;
  left: 0; 
  background-image: url("https://i.stack.imgur.com/xfn1X.jpg");
}

.jumbotron {
  background-image: url("chordBannerNCleff.png");
}

ul {
  list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
  display:inline;
  padding-inline-start:100px;
  padding-inline-end: 100px;
}
.stopButton {
  background-color: rgb(117, 44, 44);
}
.startButton {
  background-color: rgb(52, 100, 56);
}
.playAllRec {
  background-color: rgb(52, 136, 175);
}

.recordBlock {
  align-content: "left";
  width: 50%;
  height: 50%;
  color: white;
  border: 100px #4a6d94;
  background: #4a6d94;
  padding: 10px;
  margin: 15px;
}

.recordFinalBlock {
  align-content: "left";
  align-self: "right";
  width: 50%;
  height: 50%;
  color: white;
  border: 100px #4a948e;
  background: #4a948e;
  padding: 10px;
  margin: 15px;
}

button {
  margin-left: 5px;
  margin-right: 5px;
}

.showInline {
  
}

#block_container
{
    text-align:left;
}
#bloc1, #bloc2
{
    display:inline;
}